@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

:root {
    --overlay-height: 20vh;
    --text-padding: 30px;
}

body {
    display: flex;
    margin: 0px;
    height: 100vh;
}

/*Sidebar styling*/

.sidebar {
    flex: 1 1 33%;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    background-color: rgb(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--overlay-height);
    margin-top: 30vh
}

.fancy-text {
    font-family: Norse-Bold, serif;
    font-size: 15vh;
}

.logo {
    height: var(--overlay-height);
}

.attribution {
    align-self: center;
    font-size: x-small;
}

/*Form styling */

form {
    flex: 1 1 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.greyblock {
    background-color: rgb(238, 236, 236);
    padding-left: var(--text-padding);
    width: 66vw;
    flex: 1;
}

.whiteblock {
    background-color: white;
    padding-left: var(--text-padding);
    width: 66vw;
    flex: 1;
   
}

.inputBlocks {
    display: flex;
    flex-wrap: wrap;
    max-width: 40vw;
    gap: 10%;
}

.form-element {
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 40%;
    padding-bottom: 8px;
}

label {
    font-size: x-small;
}

:focus {
    box-shadow: 1px 1px 5px grey;
    outline-color: blue;
    outline-width: 1px;
    outline-offset: 0px;
}

input:invalid {
    outline-color: red;
    border: solid red 1px;
    outline-offset: 0px;
}

.whiteblock>p {
    font-size: large;
    color: rgb(35, 37, 37);
}

/*Top grey styling*/
.top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.top>p {
    max-width: 40vw;
    font-weight: bold;
    font-size: large;
    margin-bottom:20px;
    margin-top: 0px;
}

/*bottom grey styling*/
.bottom {
    padding-top: 30px;
}

button {
    background-color: #596D48;
    color: white;
    width: 10vw;
    height: 6vh;
    border-radius: 5px;
    font-weight: bold;
}